# Dependency directory
node_modules

# Bower packages
src/assets/lib

# Workspace configuration
sftp-configuration.json

# Build files
build/debug
build/test
build/release

# Database
db.development.sqlite
db.test.sqlite
db.production.sqlite

# Secret
github
github.pub

# Log
*.log

# Others
.DS_Store