# Dependency directory
node_modules

# Bower packages
src/assets/lib

# Workspace configuration
sftp-configuration.json

# Build files
build/debug
build/release
build/uglyRelease

# Database
db.sqlite

# Secret
github
github.pub

# Log
*.log

# Others
.DS_Store