<!DOCTYPE html>
<html>
<head>
  <title>User</title>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
  <h1>Login</h1>
  <form method="post">
    <input type="text" name="usernmae">
    <input type="password" name="password">
    <button type="submit">Login</button>
  </form>
</body>
</html>