<%- contentFor('body') %>

<h1>Register</h1>
<%= msg %>
<form method="post">
  <input type="text" name="username">
  <input type="password" name="password">
  <button type="submit">Send</button>
</form>