<!DOCTYPE html>
<html>
<head>
  <title>Error Report</title>
</head>
<body>
  <h2>Error Message</h2>
  <p>
    <%= message %>
  </p>

  <h2>Error Stack</h2>
  <pre>
    <%= stack %>
  </pre>
</body>
</html>